__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache/
.pytest_cache/
.hypothesis/
htmlcov/
.pyright/

.env
.env.*
!.env.example

*.sqlite3
db.sqlite3

staticfiles/
media/

.DS_Store
Thumbs.db

node_modules/

.venv/
venv/
.uv/

*.mo
*.pot
